{{#if success_msg}}
<div style="text-align: center; color:lightgreen; font-size:1.0rem">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div style="text-align: center; color:red; font-size:1.0rem">{{error_msg}}</div>
{{/if}}