<nav>
     <span class="head bigText"><a href="/v1/index">EpicMail-{{loggedInUser}}</a></span>
    <img src="/public/img/buhari.jpg" alt="user image" class="mhidden">
    <a href="/v1/index" class="aButton">Log out</a>
</nav>
