{{> _nav}}
<div class="container">
    <div class="special">
        <a href="" id="compose" class="ml-1 hidden"><img src="/public/img/message.png" alt="compose-logo"></a>
        <p>Compose</p>

        <ul>
            <li><img src="/public/img/trash_w.png" alt="inbox"><a href="outbox.html">Delete</a></li>
            <!-- <li><img src="img/group.png" alt="inbox"><a href="group.html">Retract</a></li> -->
        </ul>
    </div>
    <div class="inbox">
        <div class="side-nav">
            <div class="dropdown">
                <span id="menu-button">Menu</span>
                <div class="menu-lines">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>

            <ul id="dropmenu">
                <li class="active"><img src="/public/img/compose_icon.png" alt="inbox"><a href="/v1/compose">Compose</a></li>
                <li><img src="/public/img/message.png" alt="inbox"><a href="/v1/messages">Inbox</a></li>
                <li><img src="/public/img/draft.png" alt="draft"><a href="/v1/messages/unread">Unread</a></li>
                <li><img src="/public/img/sent.png" alt="sent"><a href="/v1/messages/sent">Sent</a></li>
                <!-- <li><img src="/public/img/draft.png" alt="draft"><a href="outbox.html">Draft</a></li> -->
                <!-- <li><img src="/public/img/group.png" alt="group"><a href="group.html">Groups</a></li> -->

            </ul>
        </div>
        <div class="main-box">
            <form action="/v1/messages" class="compose_mail" method="POST">
                <div class="form-group mb-1">
                    <label for="from" class="mediumText">From</label>
                    <input type="text" name="from" id="from" class="formInput" value="{{loggedInUser}}" required>
                </div>
                <div class="form-group mb-1">
                    <label for="to" class="mediumText">To</label>
                    <input type="text" name="to" id="to" class="formInput" required>
                </div>
                <div class="form-group mb-1">
                    <input type="text" name="subject" id="subject" placeholder="Subject" class="formInput" required>
                </div>
                <div class="form-group mb-1">
                    <textarea name="content" id="content" placeholder="Compose mail"
                        class="formInput widerHeight"></textarea>
                </div>

                <button type="submit" class="button">Send</button>
                <button type="button" class="button">Save</button>
            </form>
        </div>
        <div class="space">

        </div>
    </div>



</div>