{{> _nav}}
<div class="container">
    <div class="special">
        <a href="" id="compose" class="ml-1 hidden"><img src="/public/img/message.png" alt="compose-logo"></a>
        <p>SENT</p>

        <ul>
            <li><img src="/public/img/trash_w.png" alt="inbox"><a href="outbox.html">Delete</a></li>
            <!-- <li><img src="img/group.png" alt="inbox"><a href="group.html">Retract</a></li> -->
        </ul>
    </div>
    <div class="inbox">
        <div class="side-nav">
            <div class="dropdown">
                <span id="menu-button">Menu</span>
                <div class="menu-lines">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>

            <ul id="dropmenu">
                <li><img src="/public/img/compose_icon.png" alt="inbox"><a href="/v1/compose">Compose</a></li>
                <li><img src="/public/img/message.png" alt="inbox"><a href="/v1/messages">Inbox</a></li>
                <li><img src="/public/img/draft.png" alt="draft"><a href="/v1/messages/unread">Unread</a></li>
                <li class="active"><img src="/public/img/sent.png" alt="sent"><a href="/v1/messages/sent">Sent</a></li>
                <!-- <li><img src="/public/img/draft.png" alt="draft"><a href="outbox.html">Draft</a></li> -->
                <!-- <li><img src="/public/img/group.png" alt="group"><a href="group.html">Groups</a></li> -->

            </ul>
        </div>
        <div class="main-box">
           {{#each sents}}
            <form action="" class="mail">
                <input type="checkbox" name="" id="">
                <span class="last">{{createdOn}}</span>
                <div>
                    <a href="viewmail.html">
                        <h4>{{subject}}</h4>
                        <p>{{message}}</p>
                    </a>
                </div>
                <button class="delButton">Delete<img src="/public/img/trash.png" alt="trash"></button>
            </form>
            {{else}}
            <form action="" class="mail">
                No sent mail available
            </form>
            {{/each}}
         
        </div>
        <div class="space">

        </div>
    </div>



</div>