{{> _nav}}
<div class="container">
    <div class="special">
        <a href="compose.html" id="compose" class="ml-1 hidden"><img src="img/message.png" alt="compose-logo"></a>
        <p>Inbox</p>

        <ul>
            <li><img src="/public/img/trash_w.png" alt="inbox"><a href="outbox.html">Delete</a></li>
            <!-- <li><img src="img/group.png" alt="inbox"><a href="group.html">Retract</a></li> -->
        </ul>
    </div>
    <div class="inbox">
        <div class="side-nav">
            <div class="dropdown">
                <span id="menu-button">Menu</span>
                <div class="menu-lines">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>

            <ul id="dropmenu">
              <li><img src="/public/img/compose_icon.png" alt="inbox"><a href="/v1/compose">Compose</a></li>
                <li class="active"><img src="/public/img/message.png" alt="inbox"><a href="/v1/messages">Inbox</a></li>
                <li><img src="/public/img/draft.png" alt="draft"><a href="/v1/messages/unread">Unread</a></li>
                <li><img src="/public/img/sent.png" alt="sent"><a href="/v1/messages/sent">Sent</a></li>
                <!-- <li><img src="/public/img/draft.png" alt="draft"><a href="outbox.html">Draft</a></li> -->
                <!-- <li><img src="/public/img/group.png" alt="group"><a href="group.html">Groups</a></li> -->

            </ul>
        </div>
        <div class="main-box">
            <form action="" method="post" class="viewmail">
                <div class="content">
                    <p>Government of Ireland Scholarship</p>
                    <small class="ml-1">Sender:alevel7@gmail.com</small>
                    <h4 class="ml-1">Scholarship Position</h4>
                    <div>
                        All the themes you need.
                        Templates for the best CMS like WordPress and Joomla, e-commerce templates for WooCommerce,
                        Shopify
                        and more… A huge library with top-quality themes and templates.
                        All the themes you need.
                        Templates for the best CMS like WordPress and Joomla, e-commerce templates for WooCommerce,
                        Shopify
                        and more… A huge library with top-quality themes and templates.
                        All the themes you need.
                        Templates for the best CMS like WordPress and Joomla, e-commerce templates for WooCommerce,
                        Shopify
                        and more… A huge library with top-quality themes and templates.
                    </div>
                </div>
                <div class="addbutton">
                    <input type="submit" value="Delete" class="button">
                    <a href="compose.html" class="aButton">Reply</a>
                </div>

            </form>

        </div>
    </div>

    <script src="js/script.js"></script>
    </body>

    </html>